.topbar{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0;
    font-size: 3.5vw;
    font-family: "El Messiri";
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: solid 0.3vw grey;
    border-bottom: solid 0.3vw grey;
    z-index: 21;
}

/* -----Wasteland----- */

.gamePageWasteland{
    width: 100%;
    height: 100%;
    position: fixed;
}

.skillsBlockRightWasteland{
    width: 10%;
    height: 89%;
    position: absolute;
    right: 0;
    top: 11%;
    background: url(../../Images/AngalsWastelandsImage/TextureWastelandMessage.png) no-repeat;
    background-size: cover;
    border-left: solid 0.3vw gray;
    z-index: 20;
}

.skillsBlockLeftWasteland{
    width: 10%;
    height: 89%;
    position: absolute;
    left: 0;
    top: 11%;
    background: url(../../Images/AngalsWastelandsImage/TextureWastelandMessage.png) no-repeat;
    background-size: cover;
    border-right: solid 0.3vw gray;
    z-index: 20;
}

.skillsBlockLeftWasteland .imageCard{
    width: 8vw;
    height: 8vw;
    margin: 3.5%;
    border: solid 0.2vw whitesmoke;
}

.skillsBlockLeftWasteland p{
    font-size: 0.8vw;
    font-weight: 700;
    font-family: "El Messiri";
    margin: 0;
    margin-left: 10%;
}

.shopButtonWasteland{
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 1.5vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
    z-index: 20;
}

.shopButtonWasteland:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.buttonStartGameWasteland{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 1.5vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
    z-index: 20;
}

.buttonStartGameWasteland:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.angalsButtonSkillsHunters{
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 0.8vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
    z-index: 20;
}

.angalsButtonSkillsHunters:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.angalsButtonSkillsJavelin{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 0.8vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
    z-index: 20;    
}

.angalsButtonSkillsJavelin:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.angalsButtonSkillsMaces{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 0.8vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
    z-index: 20;    
}

.angalsButtonSkillsMaces:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.angalsButtonSkillsAngalit{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 0.8vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
    z-index: 20;    
}

.angalsButtonSkillsAngalit:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

/* UnitMarketWasteland */

.shopWasteland{
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    background: url(../../Images/AngalsWastelandsImage/TextureWastelandMessage.png) no-repeat;
    background-size: cover;
    z-index: 21;
}

.shopWasteland h1 {
    position: absolute;
    top: 45%;
    right: 20%;
    font-size: 7vw;
    font-weight: 700;
    font-family: "El Messiri";
    color: goldenrod;
    -webkit-text-stroke: 0.1vw black;
}

.titleBuyUnitWasteland{
    font-size: 1.2vw;
    font-family: "El Messiri";
    font-weight: 700;
    color: silver;
    position: relative;
    bottom: -10vw;
    
}

.hunterBuy{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 14vw;
    height: 14vw;
    background: url(../../Images/AngalsWastelandsImage/ImageWastelandCardAngalHunter.jpg) no-repeat center;
    background-size: cover;
    border: solid 0.2vw brown;
    cursor: pointer;
}

.hunterBuy:hover{
    border: solid 0.4vw brown;
}

.javelinBuy{
    position: absolute;
    top: 5%;
    left: 30%;
    width: 14vw;
    height: 14vw;
    background: url(../../Images/AngalsWastelandsImage/ImageWastelandCardAngalJavelin.jpg) no-repeat center;
    background-size: cover;
    border: solid 0.2vw brown;
    cursor: pointer;
}

.javelinBuy:hover{
    border: solid 0.4vw brown;
}

.macesBuy{
    position: absolute;
    top: 5%;
    left: 55%;
    width: 14vw;
    height: 14vw;
    background: url(../../Images/AngalsWastelandsImage/ImageWastelandCardAngalMaces.jpg) no-repeat center;
    background-size: cover;
    border: solid 0.2vw brown;
    cursor: pointer;
}

.macesBuy:hover{
    border: solid 0.4vw brown;
}

.angalitBuy{
    position: absolute;
    top: 5%;
    left: 80%;
    width: 14vw;
    height: 14vw;
    background: url(../../Images/AngalsWastelandsImage/ImageWastelandCardAngalAngalit.jpg) no-repeat center;
    background-size: cover;
    border: solid 0.2vw brown;
    cursor: pointer;
}

.angalitBuy:hover{
    border: solid 0.4vw brown;
}

.poulticeBuyWasteland{
    position: absolute;
    top: 50%;
    left: 5%;
    width: 14vw;
    height: 14vw;
    background: url(../../Images/AngalsWastelandsImage/PoulticeWasteland.jpg) no-repeat center;
    background-size: cover;
    border: solid 0.2vw brown;
    cursor: pointer;
}

.poulticeBuyWasteland:hover{
    border: solid 0.4vw brown;
}

/* Units */

.blockUnitsWasteland{
    width: 80%;
    height: 89%;
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translateX(-50%);
    background: url(../../Images/AngalsWastelandsImage/BackgroundFieldWastelandGame.png) no-repeat;
    background-size: cover;
    
}

.cardWastelandTop{
    width: 90%;
    height: 47%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2%;
    background: darkolivegreen;
}

.cardWastelandTop p{
    width: 85%;
}

.cardWastelandBottom{
    width: 90%;
    height: 47%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2%;
    background: darkolivegreen;
}

.cardWastelandBottom p{
    width: 85%;
}

.healthScaleWasteland{
    appearance: none;
    -webkit-appearance: none;
    width: 90%;
    height: 1vw;
    margin: 5% 5%;
}

.healthScaleWasteland::-webkit-progress-inner-element {
    border: 0.1vw solid rgb(0, 0, 0);
}
  
.healthScaleWasteland::-webkit-progress-bar {
    background-color: rgb(189, 189, 189);
    
}
  
.healthScaleWasteland::-webkit-progress-value {
    background-color: brown;
}

.unitWastelandHunter{
    width: 5vw; 
    height: 10vw;
    margin: 0;
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalHunter.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandHunter:active{
    filter: drop-shadow( 0 0 1vw rgb(97, 15, 15));
}

.unitWastelandHunterChoice{
    width: 5vw; 
    height: 10vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw rgb(97, 15, 15));
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalHunter.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandJavelin{
    width: 5vw; 
    height: 10vw;
    margin: 0;
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalJavelin.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandJavelin:active{
    filter: drop-shadow( 0 0 1vw rgb(97, 15, 15));
}

.unitWastelandJavelinChoice{
    width: 5vw; 
    height: 10vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw rgb(97, 15, 15));
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalJavelin.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandMaces{
    width: 6vw; 
    height: 10.5vw;
    margin: 0;
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalMaces.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandMaces:active{
    filter: drop-shadow( 0 0 1vw rgb(97, 15, 15));
}

.unitWastelandMacesChoice{
    width: 6vw; 
    height: 10.5vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw rgb(97, 15, 15));
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalMaces.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandAngalit{
    width: 6vw; 
    height: 10.5vw;
    margin: 0;
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalAngalit.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandAngalit:active{
    filter: drop-shadow( 0 0 1vw rgb(97, 15, 15));
}

.unitWastelandAngalitChoice{
    width: 6vw; 
    height: 10.5vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw rgb(97, 15, 15));
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalAngalit.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandHunterBack{
    width: 5vw; 
    height: 11.5vw;
    margin: 0;
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalHunterBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandHunterBack:active{
    filter: drop-shadow( 0 0 1vw rgb(97, 15, 15));
}

.unitWastelandHunterBackChoice{
    width: 5vw; 
    height: 11.5vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw rgb(97, 15, 15));
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalHunterBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandJavelinBack{
    width: 5vw; 
    height: 12vw;
    margin: 0;
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalJavelinBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandJavelinBack:active{
    filter: drop-shadow( 0 0 1vw rgb(97, 15, 15));
}

.unitWastelandJavelinBackChoice{
    width: 5vw; 
    height: 12vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw rgb(97, 15, 15));
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalJavelinBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandMacesBack{
    width: 5.2vw; 
    height: 12vw;
    margin: 0;
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalMacesBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandMacesBack:active{
    filter: drop-shadow( 0 0 1vw rgb(97, 15, 15));
}

.unitWastelandMacesBackChoice{
    width: 5.2vw; 
    height: 12vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw rgb(97, 15, 15));
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalMacesBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandAngalitBack{
    width: 5.7vw; 
    height: 12vw;
    margin: 0;
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalAngalitBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandAngalitBack:active{
    filter: drop-shadow( 0 0 1vw rgb(97, 15, 15));
}

.unitWastelandAngalitBackChoice{
    width: 5.7vw; 
    height: 12vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw rgb(97, 15, 15));
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalAngalitBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
    
}

.unitWastelandDeath{
    width: 6vw; 
    height: 4vw;
    margin: 0;
    position: relative;
    border: none;
    background: url(../../Images/AngalsWastelandsImage/DeadAngal.webp) no-repeat bottom;
    background-size: contain;
    filter: drop-shadow(0.3vw 0vw 0.5vw black);
}

.healthScaleWastelandUnit{
    appearance: none;
    -webkit-appearance: none;
    width: 5vw;
    height: 0.5vw;
    margin: 5% 5%;
    position: relative;
    bottom: -60%;
    left: 50%;
    transform: translateX(-50%);
}

.healthScaleWastelandUnit::-webkit-progress-inner-element {
    border: 0.1vw solid black;
}
  
.healthScaleWastelandUnit::-webkit-progress-bar {
    background-color: silver;
    
}
  
.healthScaleWastelandUnit::-webkit-progress-value {
    background-color: brown;
}

/* SkillsWastelandSoldiers */

.avatarHeroWasteland{
    width: 80%;
    position: relative;
    top: 0.5vw;
    left: 50%;
    transform: translateX(-50%);
    border: solid darkolivegreen 0.3vw;
}

.buttonSkillHunter{
    position: absolute;
    bottom: 33%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 1vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.buttonSkillHunter:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.buttonSkillJavelin{
    position: absolute;
    bottom: 23%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 1vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.buttonSkillJavelin:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.buttonSkillMaces{
    position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 1vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.buttonSkillMaces:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.buttonSkillAngalit{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 1vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.buttonSkillAngalit:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.buttonSkillPoulticeWasteland{
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 1vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.buttonSkillPoulticeWasteland:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.buttonSkillCall{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 1vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.buttonSkillCall:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.buttonSkillBloodDebt{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 1vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.buttonSkillBloodDebt:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}



/* -----Empire----- */

.gamePageEmpire{
    width: 100%;
    height: 100%;
    position: fixed;
}

.skillsBlockRightEmpire{
    width: 10%;
    height: 89%;
    position: absolute;
    right: 0;
    top: 11%;
    background: url(../../Images/EmpireMarahImage/TextureEmpireMessage.png) no-repeat;
    background-size: cover;
    border-left: solid 0.3vw gray;
    z-index: 20;
}

.skillsBlockLeftEmpire{
    width: 10%;
    height: 89%;
    position: absolute;
    left: 0;
    top: 11%;
    background: url(../../Images/EmpireMarahImage/TextureEmpireMessage.png) no-repeat;
    background-size: cover;
    border-right: solid 0.3vw gray;
    z-index: 20;
}

.skillsBlockLeftEmpire .imageCard{
    width: 8vw;
    height: 8vw;
    margin: 3.5%;
    border: solid 0.2vw whitesmoke;
}

.skillsBlockLeftEmpire p{
    font-size: 0.8vw;
    font-weight: 700;
    font-family: "El Messiri";
    margin: 0;
    margin-left: 10%;
}

.buttonStartGameEmpire{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 110%);
    font-family: "El Messiri";
    font-size: 1.5vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
    z-index: 20;
}

.buttonStartGameEmpire:hover{
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.elvesButtonSkillsWestArcher{
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 110%);
    font-family: "El Messiri";
    font-size: 0.7vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
    z-index: 20;
}

.elvesButtonSkillsWestArcher:hover{
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.elvesButtonSkillsWestSwordsman{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 110%);
    font-family: "El Messiri";
    font-size: 0.7vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
    z-index: 20;    
}

.elvesButtonSkillsWestSwordsman:hover{
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.elvesButtonSkillsEastArcher{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 110%);
    font-family: "El Messiri";
    font-size: 0.7vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
    z-index: 20;    
}

.elvesButtonSkillsEastArcher:hover{
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.elvesButtonSkillsEastPathfinder{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 110%);
    font-family: "El Messiri";
    font-size: 0.7vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
    z-index: 20;    
}

.elvesButtonSkillsEastPathfinder:hover{
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

/* UnitMarketEmpire */

.shopEmpire{
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    background: url(../../Images/EmpireMarahImage/TextureEmpireMessage.png) no-repeat;
    background-size: cover;
    z-index: 21;
}

.shopEmpire h1 {
    position: absolute;
    top: 45%;
    right: 20%;
    font-size: 7vw;
    font-weight: 700;
    font-family: "El Messiri";
    color: goldenrod;
    -webkit-text-stroke: 0.1vw black;
}


.shopButtonEmpire{
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 110%);
    font-family: "El Messiri";
    font-size: 1.5vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
    z-index: 20;
}

.shopButtonEmpire:hover{
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.titleBuyUnitEmpire{
    font-size: 1.2vw;
    font-family: "El Messiri";
    font-weight: 700;
    color: silver;
    position: relative;
    bottom: -10vw;
}

.westArcherBuy{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 14vw;
    height: 14vw;
    background: url(../../Images/EmpireMarahImage/ImageEmpireCardWestArcher.jpg) no-repeat center;
    background-size: cover;
    border: solid 0.2vw cadetblue;
    cursor: pointer;
}

.westArcherBuy:hover{
    border: solid 0.4vw cadetblue;
}

.westSwordsmanBuy{
    position: absolute;
    top: 5%;
    left: 30%;
    width: 14vw;
    height: 14vw;
    background: url(../../Images/EmpireMarahImage/ImageEmpireCardWestSwordsman.jpg) no-repeat center;
    background-size: cover;
    border: solid 0.2vw cadetblue;
    cursor: pointer;
}

.westSwordsmanBuy:hover{
    border: solid 0.4vw cadetblue;
}

.eastArcherBuy{
    position: absolute;
    top: 5%;
    left: 55%;
    width: 14vw;
    height: 14vw;
    background: url(../../Images/EmpireMarahImage/ImageEmpireCardEastArcher.jpg) no-repeat center;
    background-size: cover;
    border: solid 0.2vw cadetblue;
    cursor: pointer;
}

.eastArcherBuy:hover{
    border: solid 0.4vw cadetblue;
}

.eastPathfinderBuy{
    position: absolute;
    top: 5%;
    left: 80%;
    width: 14vw;
    height: 14vw;
    background: url(../../Images/EmpireMarahImage/ImageEmpireCardEastPathfinder.jpg) no-repeat center;
    background-size: cover;
    border: solid 0.2vw cadetblue;
    cursor: pointer;
}

.eastPathfinderBuy:hover{
    border: solid 0.4vw cadetblue;
}

.poulticeBuyEmpire{
    position: absolute;
    top: 50%;
    left: 5%;
    width: 14vw;
    height: 14vw;
    background: url(../../Images/EmpireMarahImage/PoulticeEmpire.jpg) no-repeat center;
    background-size: cover;
    border: solid 0.2vw cadetblue;
    cursor: pointer;
}

.poulticeBuyEmpire:hover{
    border: solid 0.4vw cadetblue;
}

/* Units */

.blockUnitsEmpire{
    width: 80%;
    height: 89%;
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translateX(-50%);
    background: url(../../Images/EmpireMarahImage/BackgroundFieldEmpireGame.png) no-repeat;
    background-size: cover;
}

.cardEmpireTop{
    width: 90%;
    height: 47%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2%;
    background: cadetblue;
}

.cardEmpireTop p {
    width: 85%;
}

.cardEmpireBottom{
    width: 90%;
    height: 47%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2%;
    background: cadetblue;
}

.cardEmpireBottom p {
    width: 85%;
}

.healthScaleEmpire{
    appearance: none;
    -webkit-appearance: none;
    width: 90%;
    height: 1vw;
    margin: 5% 5%;
}

.healthScaleEmpire::-webkit-progress-inner-element {
    border: 0.1vw solid rgb(0, 0, 0);
}
  
.healthScaleEmpire::-webkit-progress-bar {
    background-color: rgb(189, 189, 189);
    
}
  
.healthScaleEmpire::-webkit-progress-value {
    background-color: darkslategray;
}

.unitEmpireWestArcher{
    width: 5.3vw; 
    height: 12vw;
    margin: 0;
    border: none;
    background: url(../../Images/EmpireMarahImage/ElfWestArcher.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireWestArcherChoice{
    width: 5.3vw; 
    height: 12vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw darkslategray);
    border: none;
    background: url(../../Images/EmpireMarahImage/ElfWestArcher.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireWestArcher:hover{
    filter: drop-shadow( 0 0 1vw darkslategray);
}

.unitEmpireWestSwordsman{
    width: 5.8vw; 
    height: 13vw;
    margin: 0;
    border: none;
    background: url(../../Images/EmpireMarahImage/ElfWestSwordsman.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireWestSwordsmanChoice{
    width: 5.8vw; 
    height: 13vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw darkslategray);
    border: none;
    background: url(../../Images/EmpireMarahImage/ElfWestSwordsman.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireWestSwordsman:hover{
    filter: drop-shadow( 0 0 1vw darkslategray);
}

.unitEmpireEastArcher{
    width: 5vw; 
    height: 11vw;
    margin: 0;
    border: none;
    background: url(../../Images/EmpireMarahImage/ElfEastArcher.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireEastArcherChoice{
    width: 5vw; 
    height: 11vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw darkslategray);
    border: none;
    background: url(../../Images/EmpireMarahImage/ElfEastArcher.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireEastArcher:hover{
    filter: drop-shadow( 0 0 1vw darkslategray);
}

.unitEmpireEastPathfinder{
    width: 5vw; 
    height: 11vw;
    margin: 0;
    border: none;
    background: url(../../Images/EmpireMarahImage/ElfEastPathfinder.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireEastPathfinderChoice{
    width: 5vw; 
    height: 11vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw darkslategray);
    border: none;
    background: url(../../Images/EmpireMarahImage/ElfEastPathfinder.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireEastPathfinder:hover{
    filter: drop-shadow( 0 0 1vw darkslategray);
}

.unitEmpireEastPathfinderInvisible{
    opacity: 1;
}

.unitEmpireWestArcherBack{
    width: 5.3vw; 
    height: 12.5vw;
    margin: 0;
    border: none;
    background: url(../../Images/EmpireMarahImage/ElfWestArcherBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireWestArcherBackChoice{
    width: 5.3vw; 
    height: 12.5vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw darkslategray);
    border: none;
    background: url(../../Images/EmpireMarahImage/ElfWestArcherBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireWestArcherBack:hover{
    filter: drop-shadow( 0 0 1vw darkslategray);
}

.unitEmpireWestSwordsmanBack{
    width: 5.5vw; 
    height: 11.5vw;
    margin: 0;
    border: none;
    background: url(../../Images/EmpireMarahImage/ElfWestSwordsmanBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireWestSwordsmanBackChoice{
    width: 5.5vw; 
    height: 11.5vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw darkslategray);
    border: none;
    background: url(../../Images/EmpireMarahImage/ElfWestSwordsmanBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireWestSwordsmanBack:hover{
    filter: drop-shadow( 0 0 1vw darkslategray);
}

.unitEmpireEastArcherBack{
    width: 5.3vw; 
    height: 12vw;
    margin: 0;
    border: none;
    background: url(../../Images/EmpireMarahImage/ElfEastArcherBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireEastArcherBackChoice{
    width: 5.3vw; 
    height: 12vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw darkslategray);
    border: none;
    background: url(../../Images/EmpireMarahImage/ElfEastArcherBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireEastArcherBack:hover{
    filter: drop-shadow( 0 0 1vw darkslategray);
}

.unitEmpireEastPathfinderBack{
    width: 5.3vw; 
    height: 11vw;
    margin: 0;
    border: none;
    background: url(../../Images/EmpireMarahImage/ElfEastPathfinderBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireEastPathfinderBackChoice{
    width: 5.3vw; 
    height: 11vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw darkslategray);
    border: none;
    background: url(../../Images/EmpireMarahImage/ElfEastPathfinderBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireEastPathfinderBack:hover{
    filter: drop-shadow( 0 0 1vw darkslategray);
}

.unitEmpireEastPathfinderBackInvisible{
    opacity: 1;
}

.unitEmpireDeath{
    width: 4.5vw; 
    height: 4vw;
    margin: 0;
    position: relative;
    border: none;
    background: url(../../Images/EmpireMarahImage/DeadElf.webp) no-repeat bottom;
    background-size: contain;
    filter: drop-shadow(0.3vw 0vw 0.5vw black);
}

.healthScaleEmpireUnit{
    appearance: none;
    -webkit-appearance: none;
    width: 5vw;
    height: 0.5vw;
    margin: 5% 5%;
    position: relative;
    bottom: -60%;
    left: 50%;
    transform: translateX(-50%);
}

.healthScaleEmpireUnit::-webkit-progress-inner-element {
    border: 0.1vw solid black;
}
  
.healthScaleEmpireUnit::-webkit-progress-bar {
    background-color: silver;
    
}
  
.healthScaleEmpireUnit::-webkit-progress-value {
    background-color: darkslategray;
}

/* SkillsEmpireSoldiers */

.avatarHeroEmpire{
    width: 80%;
    position: relative;
    top: 0.5vw;
    left: 50%;
    transform: translateX(-50%);
    border: solid cadetblue 0.3vw;
}

.buttonSkillWestArcher{
    position: absolute;
    bottom: 33%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 110%);
    font-family: "El Messiri";
    font-size: 0.8vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.buttonSkillWestArcher:hover{
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.buttonSkillWestSwordsman{
    position: absolute;
    bottom: 23%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 110%);
    font-family: "El Messiri";
    font-size: 0.8vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.buttonSkillWestSwordsman:hover{
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.buttonSkillEastArcher{
    position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 110%);
    font-family: "El Messiri";
    font-size: 0.8vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.buttonSkillEastArcher:hover{
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.buttonSkillEastPathfinder{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 110%);
    font-family: "El Messiri";
    font-size: 0.8vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.buttonSkillPathfinder:hover{
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.buttonSkillPoulticeEmpire{
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 110%);
    font-family: "El Messiri";
    font-size: 0.8vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.buttonSkillPoulticeEmpire:hover{
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.buttonSkillKeepInLine{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 110%);
    font-family: "El Messiri";
    font-size: 0.8vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.buttonSkillKeepInLine:hover{
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.buttonSkillFury{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 8.5vw;
    height: 3vw;
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 110%);
    font-family: "El Messiri";
    font-size: 0.8vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.buttonSkillFury:hover{
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}


/* -----Overall----- */

.card{
    width: 10%;
    height: 30%;
    position: absolute;
    bottom: 2%;
}

.textCard{
    width: 90%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "El Messiri";
    font-weight: 700;
    font-size: 0.8vw;
}

.closeButton{
    width: 20vw;
    height: 3vw;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vw;
    font-family: "El Messiri";
    cursor: pointer;
    border-radius: 50%;
    border: solid 0.1vw black;
    background-color: rgba(226, 226, 226, 1);
    background-image: linear-gradient(176deg, red 3%, rgb(17, 17, 17) 110%);
}

.closeButton:hover{
    background-color: rgba(226, 226, 226, 1);
    background-image: linear-gradient(176deg, red 3%, rgb(17, 17, 17) 90%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

/* Overall Positions Cells */

.pointer{
    width: 2vw;
    height: 1.5vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30%;
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
}

.cell{
    width: 8.5vw; 
    height: 8vw;
    margin: 0;
    border: solid 0.3vw black;
    background: rgb(100, 158, 66);
    cursor: pointer;
    opacity: 0.5;
    font-size: 2vw;
}

.cellA1{
    position: absolute;
    bottom: 70%;
    left: 5%;
}

.cellA2{
    position: absolute;
    bottom: 70%;
    left: 30%;
}

.cellA3{
    position: absolute;
    bottom: 70%;
    left: 55%;
}

.cellA4{
    position: absolute;
    bottom: 70%;
    left: 80%;
}

.cellA5{
    position: absolute;
    bottom: 50%;
    left: 13%;
}

.cellA6{
    position: absolute;
    bottom: 50%;
    left: 38%;
}

.cellA7{
    position: absolute;
    bottom: 50%;
    left: 63%;
}

.cellA8{
    position: absolute;
    bottom: 50%;
    left: 88%;
}

.cellC1{
    position: absolute;
    bottom: 20%;
    left: 5%;
}

.cellC2{
    position: absolute;
    bottom: 20%;
    left: 30%;
}

.cellC3{
    position: absolute;
    bottom: 20%;
    left: 55%;
}

.cellC4{
    position: absolute;
    bottom: 20%;
    left: 80%;
}

.cellD1{
    position: absolute;
    bottom: 5%;
    left: 13%;
}

.cellD2{
    position: absolute;
    bottom: 5%;
    left: 38%;
}

.cellD3{
    position: absolute;
    bottom: 5%;
    left: 63%;
}

.cellD4{
    position: absolute;
    bottom: 5%;
    left: 88%;
}

.emptyСell{
    border: none;
    opacity: 0;
}













