.topbar{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0;
    font-size: 3.5vw;
    font-family: "El Messiri";
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: solid 0.3vw grey;
    border-bottom: solid 0.3vw grey;
    z-index: 21;
}

.gamePageWasteland{
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../../Images/AngalsWastelandsImage/Backgr.jpg) no-repeat;
    background-size: cover;
}

.skillsBlockEmpire{
    width: 10%;
    height: 89%;
    position: absolute;
    left: 0;
    top: 11%;
    background: wheat;
}

.skillsBlockWasteland{
    width: 10%;
    height: 89%;
    position: absolute;
    right: 0;
    top: 11%;
    background: wheat;
}

.skillsBlockEmpire img{
    width: 100%;
    height: 50%;
    margin-top: 5%;
}

.skillsBlockEmpire p{
    font-size: 0.8vw;
    font-weight: 700;
    font-family: "El Messiri";
    margin: 0;
    margin-left: 10%;
}

.blockUnits{
    width: 80%;
    height: 89%;
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translateX(-50%);
}

.cell{
    width: 8.5vw; 
    height: 8vw;
    margin: 0;
    border: solid 0.3vw black;
    background: rgb(100, 158, 66);
    cursor: pointer;
    opacity: 0.5;
    font-size: 2vw;
}

.cellA1{
    position: absolute;
    top: 2%;
    left: 5%;
}

.cellA2{
    position: absolute;
    top: 2%;
    left: 30%;
}

.cellA3{
    position: absolute;
    top: 2%;
    left: 55%;
}

.cellA4{
    position: absolute;
    top: 2%;
    left: 80%;
}

.cellC1{
    position: absolute;
    bottom: 25%;
    left: 5%;
}

.cellC2{
    position: absolute;
    bottom: 25%;
    left: 30%;
}

.cellC3{
    position: absolute;
    bottom: 25%;
    left: 55%;
}

.cellC4{
    position: absolute;
    bottom: 25%;
    left: 80%;
}

.cellD1{
    position: absolute;
    bottom: 5%;
    left: 13%;
}

.cellD2{
    position: absolute;
    bottom: 5%;
    left: 38%;
}

.cellD3{
    position: absolute;
    bottom: 5%;
    left: 63%;
}

.cellD4{
    position: absolute;
    bottom: 5%;
    left: 88%;
}

.empty–°ell{
    border: none;
    opacity: 0;
}

.shopButton{
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 9vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 1.5vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
    z-index: 20;
}

.shopButton:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.shop{
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    background: wheat;
    z-index: 21;
}

.titleBuyUnit{
    font-size: 2vw;
    font-family: "El Messiri";
    font-weight: 700;
    color: brown;
    position: relative;
    bottom: -10vw;
}

.javelinBuy{
    width: 14vw;
    height: 14vw;
    margin: 1%;
    background: url(../../Images/AngalsWastelandsImage/ImageWastelandCardAngalJavelin.jpg) no-repeat center;
    background-size: cover;
    border: solid 0.2vw brown;
    cursor: pointer;
}

.javelinBuy:hover{
    border: solid 0.4vw brown;
}

.hunterBuy{
    width: 14vw;
    height: 14vw;
    margin: 1%;
    background: url(../../Images/AngalsWastelandsImage/ImageWastelandCardAngalHunter.jpg) no-repeat center;
    background-size: cover;
    border: solid 0.2vw brown;
    cursor: pointer;
}

.hunterBuy:hover{
    border: solid 0.4vw brown;
}

.buttonStartGame{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 9vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 1.5vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
    z-index: 20;
}

.buttonStartGame:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.angalsButtonSkillsHunters{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 9vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 1.2vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
    z-index: 20;
}

.angalsButtonSkillsHunters:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.angalsButtonSkillsJavelin{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 9vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 1.2vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
    z-index: 20;    
}

.angalsButtonSkillsJavelin:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.card{
    width: 10%;
    height: 30%;
    position: absolute;
    bottom: 2%;
}

.skillsBlockEmpire .imageCard{
    width: 8vw;
    height: 8vw;
    margin: 3.5%;
    border: solid 0.2vw whitesmoke;
}

.cardWestEmpireArcher{
    width: 90%;
    height: 40%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2%;
    background: cadetblue;
}

.cardWastelandHunter{
    width: 90%;
    height: 40%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2%;
    background: brown;
}

.cardWastelandJavelin{
    width: 90%;
    height: 40%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2%;
    background: green;
}

.healthScaleWasteland{
    appearance: none;
    -webkit-appearance: none;
    width: 90%;
    height: 1vw;
    margin: 5% 5%;
}

.healthScaleWasteland::-webkit-progress-inner-element {
    border: 0.1vw solid rgb(0, 0, 0);
}
  
.healthScaleWasteland::-webkit-progress-bar {
    background-color: rgb(189, 189, 189);
    
}
  
.healthScaleWasteland::-webkit-progress-value {
    background-color: orange;
}

.unitWastelandHunter{
    width: 5vw; 
    height: 11.5vw;
    margin: 0;
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalHunterBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandHunter:active{
    filter: drop-shadow( 0 0 1vw red);
}

.unitWastelandHunterChoice{
    width: 5vw; 
    height: 11.5vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw red);
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalHunterBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandJavelin{
    width: 5vw; 
    height: 12vw;
    margin: 0;
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalJavelinBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandJavelin:active{
    filter: drop-shadow( 0 0 1vw red);
}

.unitWastelandJavelinChoice{
    width: 5vw; 
    height: 12vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw red);
    border: none;
    background: url(../../Images/AngalsWastelandsImage/AngalJavelinBack.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitWastelandDeath{
    width: 6vw; 
    height: 4vw;
    margin: 0;
    position: relative;
    border: none;
    background: url(../../Images/AngalsWastelandsImage/DeadAngal.webp) no-repeat bottom;
    background-size: contain;
    filter: drop-shadow(0.3vw 0vw 0.5vw black);
}

.healthScaleWastelandUnit{
    appearance: none;
    -webkit-appearance: none;
    width: 5vw;
    height: 0.5vw;
    margin: 5% 5%;
    position: relative;
    bottom: -60%;
    left: 50%;
    transform: translateX(-50%);
}

.healthScaleWastelandUnit::-webkit-progress-inner-element {
    border: 0.1vw solid black;
}
  
.healthScaleWastelandUnit::-webkit-progress-bar {
    background-color: silver;
    
}
  
.healthScaleWastelandUnit::-webkit-progress-value {
    background-color: darkolivegreen;
}


.unitEmpireWestArcher{
    width: 5vw; 
    height: 12vw;
    margin: 0;
    border: none;
    background: url(../../Images/ImpireMarahImage/ElfWestArcher.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireWestArcherChoice{
    width: 5vw; 
    height: 12vw;
    margin: 0;
    filter: drop-shadow( 0 0 1vw red);
    border: none;
    background: url(../../Images/ImpireMarahImage/ElfWestArcher.webp) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.unitEmpireWestArcher:hover{
    filter: drop-shadow( 0 0 1vw red);
}

.unitEmpireDeath{
    width: 4.5vw; 
    height: 4vw;
    margin: 0;
    position: fixed;
    top: 20%;
    border: none;
    background: url(../../Images/ImpireMarahImage/DeadElf.webp) no-repeat bottom;
    background-size: contain;
    filter: drop-shadow(0.3vw 0vw 0.5vw black);
}

.healthScaleImpireUnit{
    appearance: none;
    -webkit-appearance: none;
    width: 5vw;
    height: 0.5vw;
    margin: 5% 5%;
    position: relative;
    bottom: -60%;
    left: 50%;
    transform: translateX(-50%);
}

.healthScaleImpireUnit::-webkit-progress-inner-element {
    border: 0.1vw solid black;
}
  
.healthScaleImpireUnit::-webkit-progress-bar {
    background-color: silver;
    
}
  
.healthScaleImpireUnit::-webkit-progress-value {
    background-color: darkcyan;
}

/* SkillsWastelandSoldiers */

.avatarHero{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.buttonSkillHunter{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 9vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 1.5vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.buttonSkillHunter:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.buttonSkillJavelin{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 9vw;
    height: 3vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 1.5vw;
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.buttonSkillJavelin:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.closeButton{
    width: 20vw;
    height: 3vw;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vw;
    font-family: "El Messiri";
    cursor: pointer;
    border-radius: 50%;
    border: solid 0.1vw black;
    background-color: rgba(226, 226, 226, 1);
    background-image: linear-gradient(176deg, red 3%, rgb(17, 17, 17) 110%);
}

.closeButton:hover{
    background-color: rgba(226, 226, 226, 1);
    background-image: linear-gradient(176deg, red 3%, rgb(17, 17, 17) 90%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}