.topbar{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0;
    font-size: 3.5vw;
    font-family: "El Messiri";
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: solid 0.3vw grey;
    border-bottom: solid 0.3vw grey;
    z-index: 21;
}

.historyPageWasteland{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../../Images/AngalsWastelandsImage/BackgroundWasteland.jpg) no-repeat;
    background-size: cover;
}

.historyPageEmpire{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../../Images/ImpireMarahImage/Bridge.jpg) no-repeat;
    background-size: cover;
}

.coatOfArms{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    filter: drop-shadow( 0.3vw 0.3vw 0.5vw black );
}

.backgroundCoatEmpire{
    width: 26vw;
    height: 26vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4%;
    border-radius: 50%;
    background-image: radial-gradient(circle, cadetblue 35%,  black 100%);
    border: solid 0.1vw black;
}

.backgroundCoatWasteland{
    width: 26vw;
    height: 26vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4%;
    border-radius: 50%;
    background-image: radial-gradient(circle, darkolivegreen 35%,  black 100%);
    border: solid 0.1vw black;
}

.blockButtonHistory{
    display: flex;
    justify-content: space-between;
}

.buttonHeadEmpire{
    width: 10vw;
    height: 20vw;
    display: block;
    clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 2vw;
    font-family: "El Messiri";
    background-image: linear-gradient(90deg, black -20%, rgb(95, 148, 160) 35%, cadetblue 50%, rgb(95, 148, 160) 65%, black 120%);
    color: rgb(220, 220, 220);
    padding-top: 2%;
}

.buttonHeadEmpire:hover{
    background-image: linear-gradient(90deg, black -13%, rgb(95, 148, 160) 35%, cadetblue 50%, rgb(95, 148, 160) 65%, black 113%);
}

.buttonHeadWasteland{
    width: 10vw;
    height: 20vw;
    display: block;
    clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 2vw;
    font-family: "El Messiri";
    background-image: linear-gradient(90deg, black -20%, rgb(85, 97, 47) 35%, darkolivegreen 50%, rgb(85, 97, 47) 65%, black 120%);
    color: rgb(220, 220, 220);
    padding-top: 2%;
}

.buttonHeadWasteland:hover{
    background-image: linear-gradient(90deg, black -13%, rgb(85, 97, 47) 35%, darkolivegreen 50%, rgb(85, 97, 47) 65%, black 113%);
}

.head{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 10%;
    background: rgb(99, 53, 53);
    animation: shiftHead 1s forwards;
}

.head h3{
    font-size: 3vw;
    font-family: "El Messiri";
    margin: 0;
    position: absolute;
    top: 3%;
    right: 22%;
}

.head p{
    width: 47%;
    height: 50%;
    position: absolute;
    top: 10%;
    right: 3%;
    font-size: 1.3vw;
    font-family: "Pangolin";
    font-weight: 700;
    text-align: center;
}

.imageHead{
    width: 45vw;
    height: 27.5vw;
    margin: 2%;
    border-radius: 50%;
}

.closeButton{
    width: 20vw;
    height: 3vw;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vw;
    font-family: "El Messiri";
    cursor: pointer;
    border-radius: 50%;
    border: solid 0.1vw black;
    background-color: rgba(226, 226, 226, 1);
    background-image: linear-gradient(176deg, red 3%, rgb(17, 17, 17) 110%);
}

.closeButton:hover{
    background-color: rgba(226, 226, 226, 1);
    background-image: linear-gradient(176deg, red 3%, rgb(17, 17, 17) 90%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

@keyframes shiftHead{
    from{top: -130%;}
    to{top: 10%;}
}