.topbar{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0;
    font-size: 3.5vw;
    font-family: "El Messiri";
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: solid 0.3vw grey;
    border-bottom: solid 0.3vw grey;
    z-index: 21;
}

.historyPageWasteland{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../../Images/AngalsWastelandsImage/BackgroundWasteland.jpg) no-repeat center;
    background-size: cover;
}

.historyPageEmpire{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../../Images/EmpireMarahImage/Bridge.jpg) no-repeat center;
    background-size: cover;
}

.coatOfArms{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    filter: drop-shadow( 0.3vw 0.3vw 0.5vw black );
}

.backgroundCoatEmpire{
    width: 26vw;
    height: 26vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4%;
    border-radius: 50%;
    background-image: radial-gradient(circle, cadetblue 35%,  black 100%);
    border: solid 0.1vw black;
}

.backgroundCoatWasteland{
    width: 26vw;
    height: 26vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4%;
    border-radius: 50%;
    background-image: radial-gradient(circle, darkolivegreen 35%,  black 100%);
    border: solid 0.1vw black;
}

.blockButtonHistory{
    display: flex;
    justify-content: space-between;
}

.buttonHeadEmpire{
    width: 10vw;
    height: 20vw;
    display: block;
    clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 2vw;
    font-family: "El Messiri";
    background-image: linear-gradient(90deg, black -20%, rgb(95, 148, 160) 35%, cadetblue 50%, rgb(95, 148, 160) 65%, black 120%);
    color: rgb(220, 220, 220);
    padding-top: 2%;
    border: none;
}

.buttonHeadEmpire:hover{
    background-image: linear-gradient(90deg, black -13%, rgb(95, 148, 160) 35%, cadetblue 50%, rgb(95, 148, 160) 65%, black 113%);
}

.buttonHeadWasteland{
    width: 10vw;
    height: 20vw;
    display: block;
    clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 2vw;
    font-family: "El Messiri";
    background-image: linear-gradient(90deg, black -20%, rgb(85, 97, 47) 35%, darkolivegreen 50%, rgb(85, 97, 47) 65%, black 120%);
    color: rgb(220, 220, 220);
    padding-top: 2%;
    border: none;
}

.buttonHeadWasteland:hover{
    background-image: linear-gradient(90deg, black -13%, rgb(85, 97, 47) 35%, darkolivegreen 50%, rgb(85, 97, 47) 65%, black 113%);
}

.headEmpire{
    width: 100%;
    height: 90%;
    background: url(../../Images/EmpireMarahImage/TextureEmpireMessage.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 10%;
    animation: shiftHead 1s forwards;
}

.headEmpire h3{
    width: 53%;
    font-size: 3vw;
    font-family: "El Messiri";
    margin: 0;
    position: absolute;
    top: 3%;
    right: 0%;
    text-align: center;
    color: silver;
}

.headEmpire p{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 10%;
    right: 1%;
    font-size: 1.15vw;
    font-family: "Pangolin";
    font-weight: 700;
    text-align: center;
    color: silver;
}

.headWasteland{
    width: 100%;
    height: 90%;
    background: url(../../Images/AngalsWastelandsImage/TextureWastelandMessage.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 10%;
    animation: shiftHead 1s forwards;
}

.headWasteland h3{
    width: 53%;
    font-size: 3vw;
    font-family: "El Messiri";
    margin: 0;
    position: absolute;
    top: 3%;
    right: 0%;
    text-align: center;
    color: silver;
}

.headWasteland p{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 10%;
    right: 1%;
    font-size: 1.15vw;
    font-family: "Pangolin";
    font-weight: 700;
    text-align: center;
    color: silver;
}

.imageHead{
    width: 45vw;
    height: 27.5vw;
    margin: 2%;
    border-radius: 50%;
}

.closeButton{
    width: 20vw;
    height: 3vw;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vw;
    font-family: "El Messiri";
    cursor: pointer;
    border-radius: 50%;
    border: solid 0.1vw black;
    background-color: rgba(226, 226, 226, 1);
    background-image: linear-gradient(176deg, red 3%, rgb(17, 17, 17) 110%);
}

.closeButton:hover{
    background-color: rgba(226, 226, 226, 1);
    background-image: linear-gradient(176deg, red 3%, rgb(17, 17, 17) 90%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

@keyframes shiftHead{
    from{top: -130%;}
    to{top: 10%;}
}


@media (max-width: 480px) {

.topbar{
    width: 100%;
    height: 12vw;
    position: absolute;
    top: 0;
    font-size: 7.5vw;
    font-family: "El Messiri";
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: solid 0.3vw grey;
    border-bottom: solid 0.3vw grey;
    z-index: 21;
}

.coatOfArms{
    width: 50vw;
    height: 50vw;
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    filter: drop-shadow( 0.3vw 0.3vw 0.5vw black );
}

.backgroundCoatEmpire{
    width: 70vw;
    height: 70vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    border-radius: 50%;
    background-image: radial-gradient(circle, cadetblue 35%,  black 100%);
    border: solid 0.1vw black;
}

.backgroundCoatWasteland{
    width: 70vw;
    height: 70vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    border-radius: 50%;
    background-image: radial-gradient(circle, darkolivegreen 35%,  black 100%);
    border: solid 0.1vw black;
}

.blockButtonHistory{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.buttonHeadEmpire{
    width: 15vw;
    height: 20vw;
    display: block;
    clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
    cursor: pointer;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 3vw;
    font-family: "El Messiri";
    background-image: linear-gradient(90deg, black -20%, rgb(95, 148, 160) 35%, cadetblue 50%, rgb(95, 148, 160) 65%, black 120%);
    color: rgb(220, 220, 220);
    padding-top: 0%;
}

.buttonHeadWasteland{
    width: 15vw;
    height: 20vw;
    display: block;
    clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
    cursor: pointer;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 3vw;
    font-family: "El Messiri";
    background-image: linear-gradient(90deg, black -20%, rgb(85, 97, 47) 35%, darkolivegreen 50%, rgb(85, 97, 47) 65%, black 120%);
    color: rgb(220, 220, 220);
    padding-top: 0%;
}

.headEmpire{
    width: 100%;
    height: 95%;
    background: url(../../Images/EmpireMarahImage/TextureEmpireMessage.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 10%;
    animation: shiftHead 1s forwards;
}

.headEmpire h3{
    width: 100%;
    font-size: 8vw;
    font-family: "El Messiri";
    margin: 0;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: silver;
}

.headEmpire p{
    width: 96%;
    height: 50%;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.8vw;
    font-family: "Pangolin";
    font-weight: 700;
    text-align: center;
    color: silver;
}

.headWasteland{
    width: 100%;
    height: 95%;
    background: url(../../Images/AngalsWastelandsImage/TextureWastelandMessage.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 10%;
    animation: shiftHead 1s forwards;
}

.headWasteland h3{
    width: 100%;
    font-size: 8vw;
    font-family: "El Messiri";
    margin: 0;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: silver;
}

.headWasteland p{
    width: 96%;
    height: 50%;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.8vw;
    font-family: "Pangolin";
    font-weight: 700;
    text-align: center;
    color: silver;
}

.imageHead{
    width: 70vw;
    height: 40vw;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    margin: 0;
}

.closeButton{
    width: 50vw;
    height: 8vw;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5vw;
    font-family: "El Messiri";
    cursor: pointer;
    border-radius: 50%;
    border: solid 0.1vw black;
    background-color: rgba(226, 226, 226, 1);
    background-image: linear-gradient(176deg, red 3%, rgb(17, 17, 17) 110%);
}

@keyframes shiftHead{
    from{top: -130%;}
    to{top: 5%;}
}

}

@media (min-width: 481px) and (max-width: 768px) {
   
.topbar{
    width: 100%;
    height: 10vw;
    position: absolute;
    top: 0;
    font-size: 6.5vw;
    font-family: "El Messiri";
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: solid 0.3vw grey;
    border-bottom: solid 0.3vw grey;
    z-index: 21;
}

.coatOfArms{
    width: 50vw;
    height: 50vw;
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    filter: drop-shadow( 0.3vw 0.3vw 0.5vw black );
}

.backgroundCoatEmpire{
    width: 70vw;
    height: 70vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    border-radius: 50%;
    background-image: radial-gradient(circle, cadetblue 35%,  black 100%);
    border: solid 0.1vw black;
}

.backgroundCoatWasteland{
    width: 70vw;
    height: 70vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    border-radius: 50%;
    background-image: radial-gradient(circle, darkolivegreen 35%,  black 100%);
    border: solid 0.1vw black;
}

.blockButtonHistory{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.buttonHeadEmpire{
    width: 15vw;
    height: 20vw;
    display: block;
    clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
    cursor: pointer;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 3vw;
    font-family: "El Messiri";
    background-image: linear-gradient(90deg, black -20%, rgb(95, 148, 160) 35%, cadetblue 50%, rgb(95, 148, 160) 65%, black 120%);
    color: rgb(220, 220, 220);
    padding-bottom: 5%;
}

.buttonHeadWasteland{
    width: 15vw;
    height: 20vw;
    display: block;
    clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
    cursor: pointer;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 3vw;
    font-family: "El Messiri";
    background-image: linear-gradient(90deg, black -20%, rgb(85, 97, 47) 35%, darkolivegreen 50%, rgb(85, 97, 47) 65%, black 120%);
    color: rgb(220, 220, 220);
    padding-bottom: 5%;
}

.headEmpire{
    width: 100%;
    height: 95%;
    background: url(../../Images/EmpireMarahImage/TextureEmpireMessage.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 10%;
    animation: shiftHead 1s forwards;
}

.headEmpire h3{
    width: 30%;
    font-size: 6vw;
    font-family: "El Messiri";
    margin: 0;
    position: absolute;
    top: 23%;
    left: 2%;
    text-align: center;
    color: silver;
}

.headEmpire p{
    width: 92%;
    height: 50%;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.2vw;
    font-family: "Pangolin";
    font-weight: 700;
    text-align: center;
    color: silver;
}

.headWasteland{
    width: 100%;
    height: 95%;
    background: url(../../Images/AngalsWastelandsImage/TextureWastelandMessage.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 10%;
    animation: shiftHead 1s forwards;
}

.headWasteland h3{
    width: 30%;
    font-size: 6vw;
    font-family: "El Messiri";
    margin: 0;
    position: absolute;
    top: 23%;
    left: 2%;
    text-align: center;
    color: silver;
}

.headWasteland p{
    width: 92%;
    height: 50%;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.2vw;
    font-family: "Pangolin";
    font-weight: 700;
    text-align: center;
    color: silver;
}

.imageHead{
    width: 60vw;
    height: 35vw;
    position: absolute;
    top: 3%;
    right: 5%;
    border-radius: 50%;
    margin: 0;
    margin-top: 2%;
}

.closeButton{
    width: 40vw;
    height: 6.5vw;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4vw;
    font-family: "El Messiri";
    cursor: pointer;
    border-radius: 50%;
    border: solid 0.1vw black;
    background-color: rgba(226, 226, 226, 1);
    background-image: linear-gradient(176deg, red 3%, rgb(17, 17, 17) 110%);
}

@keyframes shiftHead{
    from{top: -130%;}
    to{top: 5%;}
}

}

@media (min-width: 769px) and (max-width: 1024px) {
    
.topbar{
    width: 100%;
    height: 8vw;
    position: absolute;
    top: 0;
    font-size: 5.5vw;
    font-family: "El Messiri";
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: solid 0.3vw grey;
    border-bottom: solid 0.3vw grey;
    z-index: 21;
}

.coatOfArms{
    width: 50vw;
    height: 50vw;
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    filter: drop-shadow( 0.3vw 0.3vw 0.5vw black );
}

.backgroundCoatEmpire{
    width: 70vw;
    height: 70vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    border-radius: 50%;
    background-image: radial-gradient(circle, cadetblue 35%,  black 100%);
    border: solid 0.1vw black;
}

.backgroundCoatWasteland{
    width: 70vw;
    height: 70vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    border-radius: 50%;
    background-image: radial-gradient(circle, darkolivegreen 35%,  black 100%);
    border: solid 0.1vw black;
}

.blockButtonHistory{
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}

.buttonHeadEmpire{
    width: 15vw;
    height: 20vw;
    display: block;
    clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
    cursor: pointer;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 3vw;
    font-family: "El Messiri";
    background-image: linear-gradient(90deg, black -20%, rgb(95, 148, 160) 35%, cadetblue 50%, rgb(95, 148, 160) 65%, black 120%);
    color: rgb(220, 220, 220);
    padding-top: 0%;
}

.buttonHeadWasteland{
    width: 15vw;
    height: 20vw;
    display: block;
    clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
    cursor: pointer;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 3vw;
    font-family: "El Messiri";
    background-image: linear-gradient(90deg, black -20%, rgb(85, 97, 47) 35%, darkolivegreen 50%, rgb(85, 97, 47) 65%, black 120%);
    color: rgb(220, 220, 220);
    padding-top: 0%;
}

.headEmpire{
    width: 100%;
    height: 95%;
    background: url(../../Images/EmpireMarahImage/TextureEmpireMessage.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 10%;
    animation: shiftHead 1s forwards;
}

.headEmpire h3{
    width: 30%;
    font-size: 6vw;
    font-family: "El Messiri";
    margin: 0;
    position: absolute;
    top: 23%;
    left: 2%;
    text-align: center;
    color: silver;
}

.headEmpire p{
    width: 92%;
    height: 50%;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.2vw;
    font-family: "Pangolin";
    font-weight: 700;
    text-align: center;
    color: silver;
}

.headWasteland{
    width: 100%;
    height: 95%;
    background: url(../../Images/AngalsWastelandsImage/TextureWastelandMessage.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 10%;
    animation: shiftHead 1s forwards;
}

.headWasteland h3{
    width: 30%;
    font-size: 6vw;
    font-family: "El Messiri";
    margin: 0;
    position: absolute;
    top: 23%;
    left: 2%;
    text-align: center;
    color: silver;
}

.headWasteland p{
    width: 92%;
    height: 50%;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.2vw;
    font-family: "Pangolin";
    font-weight: 700;
    text-align: center;
    color: silver;
}

.imageHead{
    width: 60vw;
    height: 35vw;
    position: absolute;
    top: 3%;
    right: 5%;
    border-radius: 50%;
    margin: 0;
    margin-top: 2%;
}

.closeButton{
    width: 40vw;
    height: 6.5vw;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4vw;
    font-family: "El Messiri";
    cursor: pointer;
    border-radius: 50%;
    border: solid 0.1vw black;
    background-color: rgba(226, 226, 226, 1);
    background-image: linear-gradient(176deg, red 3%, rgb(17, 17, 17) 110%);
}

@keyframes shiftHead{
    from{top: -130%;}
    to{top: 5%;}
}

}