.homeButton{
    width: 20%;
    font-family: "El Messiri";
    font-size: 3vw;
    font-weight: 700;
    background-color: brown;
    background-image: linear-gradient(180deg, black -20%, brown 47%, brown 53%, black 120%);
    display: block;
    border: none;
    border-right: solid 0.3vw grey ;
    border-left: solid 0.3vw grey ;
    cursor: pointer;
}

.homeButton:hover{
    background-color: brown;
    background-image: linear-gradient(180deg, black 0%, brown 47%, brown 53%, black 100%);
}

.backButton{
    width: 20%;
    font-family: "El Messiri";
    font-size: 3vw;
    font-weight: 700;
    background-color: darkslateblue;
    background-image: linear-gradient(180deg, black -20%, darkslateblue 47%, darkslateblue 53%, black 120%);
    display: block;
    border: none;
    border-right: solid 0.3vw grey ;
    border-left: solid 0.3vw grey;
    cursor: pointer;
}

.backButton:hover{
    background-color: darkslateblue;
    background-image: linear-gradient(180deg, black 0%, darkslateblue 47%, darkslateblue 53%, black 100%);
}


@media (max-width: 480px) {

.homeButton{
    width: 20%;
    font-family: "El Messiri";
    font-size: 4.5vw;
    font-weight: 700;
    background-color: brown;
    background-image: linear-gradient(180deg, black -20%, brown 47%, brown 53%, black 120%);
    display: block;
    border: none;
    border-right: solid 0.3vw grey;
    border-left: solid 0.3vw grey;
    cursor: pointer;
}

.backButton{
    width: 20%;
    font-family: "El Messiri";
    font-size: 4.5vw;
    font-weight: 700;
    background-color: darkslateblue;
    background-image: linear-gradient(180deg, black -20%, darkslateblue 47%, darkslateblue 53%, black 120%);
    display: block;
    border: none;
    border-right: solid 0.3vw grey;
    border-left: solid 0.3vw grey;
    cursor: pointer;
}

}

@media (min-width: 481px) and (max-width: 768px) {
   
.homeButton{
    width: 20%;
    font-family: "El Messiri";
    font-size: 4vw;
    font-weight: 700;
    background-color: brown;
    background-image: linear-gradient(180deg, black -20%, brown 47%, brown 53%, black 120%);
    display: block;
    border: none;
    border-right: solid 0.3vw grey;
    border-left: solid 0.3vw grey;
    cursor: pointer;
}

.backButton{
    width: 20%;
    font-family: "El Messiri";
    font-size: 4vw;
    font-weight: 700;
    background-color: darkslateblue;
    background-image: linear-gradient(180deg, black -20%, darkslateblue 47%, darkslateblue 53%, black 120%);
    display: block;
    border: none;
    border-right: solid 0.3vw grey;
    border-left: solid 0.3vw grey;
    cursor: pointer;
}

}

@media (min-width: 769px) and (max-width: 1024px) {
    
.homeButton{
    width: 20%;
    font-family: "El Messiri";
    font-size: 3.5vw;
    font-weight: 700;
    background-color: brown;
    background-image: linear-gradient(180deg, black -20%, brown 47%, brown 53%, black 120%);
    display: block;
    border: none;
    border-right: solid 0.3vw grey;
    border-left: solid 0.3vw grey;
    cursor: pointer;
}

.backButton{
    width: 20%;
    font-family: "El Messiri";
    font-size: 3.5vw;
    font-weight: 700;
    background-color: darkslateblue;
    background-image: linear-gradient(180deg, black -20%, darkslateblue 47%, darkslateblue 53%, black 120%);
    display: block;
    border: none;
    border-right: solid 0.3vw grey;
    border-left: solid 0.3vw grey;
    cursor: pointer;
}

}