.topbar{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0;
    font-size: 3.5vw;
    font-family: "El Messiri";
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: solid 0.3vw grey;
    border-bottom: solid 0.3vw grey;
    z-index: 21;
}

.empirePage{
    width: 100%;
    height: 100%;
    background: url(../../Images/ImpireMarahImage/Bridge.jpg) no-repeat;
    background-size: cover;
    position: fixed;
}

.wastelandPage{
    width: 100%;
    height: 100%;
    background: url(../../Images/AngalsWastelandsImage/BackgroundWasteland.jpg) no-repeat;
    background-size: cover;
    position: fixed;
}

.imageMainCharacter{
    width: 20vw;
    height: 35vw;
    border-bottom: solid 0.5vw grey;
    border-right: solid 0.5vw grey;
    border-bottom-right-radius: 90%;
    position: absolute;
    top: 10%;
    left: 0;
}

.blockInfoPage{
    width: 50vw;
    height: 40vw;
    background: wheat;
    border-bottom: solid 0.5vw grey;
    border-left: solid 0.5vw grey;
    border-bottom-left-radius: 100%;
    position: absolute;
    top: 10%;
    right: 0;
}

.blockInfoPage p{
    width: 70%;
    position: absolute;
    top: 5%;
    right: 5%;
    font-family: "Pangolin";
    font-size: 1.5vw;
    text-align: right;
    font-weight: 700;
}

.blockButtonsPages{
    position: absolute;
    bottom: 0%;
    left: 17%;
}

.buttonPageWasteland{
    width: 40vw;
    margin-bottom: 5% ;
    display: block;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    border-radius: 50%;
    font-size: 3vw;
    font-family: "El messiri";
    cursor: pointer;
    color: rgb(220, 220, 220);
}

.buttonPageWasteland:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.buttonPageEmpire{
    width: 40vw;
    margin-bottom: 5% ;
    display: block;
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 110%);
    border-radius: 50%;
    font-size: 3vw;
    font-family: "El messiri";
    cursor: pointer;
    color: rgb(220, 220, 220);
}

.buttonPageEmpire:hover{
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}