.noPage{
    width: 100%;
    height: 100%;
    background: grey;
}

.startPage{
    width: 100%;
    height: 100%;
    position: fixed;
}

.overlayInfoBlockStartPage{
    width: 100%;
    height: 100%;
    background: darkslategray;
    position: absolute;
    top: 0;
    clip-path: polygon(0 0, 100% 0, 70% 35%, 100% 100%, 0 100%, 30% 35%);
}

.infoBlockStartPage{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, cadetblue 0%, darkolivegreen 100% );
    position: absolute;
    top: 0;
    clip-path: polygon(5% 0, 95% 0, 65% 35%, 95% 100%, 5% 100%, 35% 35%);
}

.infoBlockStartPage h3{
    font-family: "El Messiri";
    font-size: 4vw;
    font-weight: 700;
    color:darkorange;
    text-align: center;
    -webkit-text-stroke: 0.05vw black;
}

.infoBlockStartPage p{
    width: 50%;
    font-family: "Pangolin";
    font-size: 2.5vw;
    font-weight: 700;
    color: brown;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}

.elvesChoiceBackground{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../Images/EmpireMarahImage/EmpireBackgroundChoice.jpg) no-repeat left; 
    background-size: contain;
}

.elvesChoice{
    width: 30%;
    height: 70%;
    background: url(../../Images/EmpireMarahImage/ChoiceElvesImage.webp) no-repeat;
    background-size: contain;
    border: none;
    position: absolute;
    left: 15%;
    bottom: 10%;
    cursor: pointer;
    margin: 0;
   
}

.elvesChoice:hover{
    animation: shineElves 1.5s infinite;
}

.angalsChoiceBackground{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../../Images/AngalsWastelandsImage/WastelandBackgruondChoice.jpg) no-repeat right;
    background-size: contain;
}

.angalsChoice{
    width: 30%;
    height: 70%;
    background: url(../../Images/AngalsWastelandsImage/ChoiceAngalImage.webp) no-repeat;
    background-size: contain;
    border: none;
    position: absolute;
    right: 8%;
    bottom: 10%;
    cursor: pointer;
    margin: 0;
}

.angalsChoice:hover{
    animation: shineAngals 1.5s infinite;
}

@keyframes shineElves {
     0%, 25%, 50%, 75%, 100%{
        filter: drop-shadow( 0 0 0.3vw darkslategray);
    }
    25%{
        filter: drop-shadow( 0 0 1vw darkslategray);
    }
    50%{
        filter: drop-shadow( 0 0 0.3vw darkslategray);
    }
    75%{
        filter: drop-shadow( 0 0 1vw darkslategray);
    }
    100%{
        filter: drop-shadow( 0 0 0.3vw darkslategray);
    }
}

@keyframes shineAngals {
    0%, 25%, 50%, 75%, 100%{
        filter: drop-shadow( 0 0 0.3vw darkolivegreen);
    }
    25%{
        filter: drop-shadow( 0 0 1vw darkolivegreen);
    }
    50%{
        filter: drop-shadow( 0 0 0.3vw darkolivegreen);
    }
    75%{
        filter: drop-shadow( 0 0 1vw darkolivegreen);
    }
    100%{
        filter: drop-shadow( 0 0 0.3vw darkolivegreen);
    }
}