/* ---StoryMasseges--- */

/* ---EmpireMessages--- */

/* Intro */

.introEmpire{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../Images/EmpireMarahImage/TextureEmpireMessage.png) no-repeat;
    background-size: cover;
    z-index: 22;
}

.introEmpire p{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2vw;
    font-family: "Pangolin";
    color: silver;
}

/* MessageHalfHealth */

.messageAtHalfHealthEmpire{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../Images/EmpireMarahImage/TextureEmpireMessage.png) no-repeat;
    background-size: cover;
    z-index: 22;
}

.messageAtHalfHealthEmpire p{
    width: 40%;
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: center;
    font-size: 2vw;
    font-family: "Pangolin";
    color: silver;
}

/* Outro */

.outroEmpire{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../Images/EmpireMarahImage/TextureEmpireMessage.png) no-repeat;
    background-size: cover;
    z-index: 22;
}

.outroEmpire p{
    width: 30%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2vw;
    font-family: "Pangolin";
    color: silver;
}

/* LoseMessage */

.loseMessageEmpire{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../Images/EmpireMarahImage/TextureEmpireMessage.png) no-repeat;
    background-size: cover;
    z-index: 22;
}

.loseMessageEmpire p{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2vw;
    font-family: "Pangolin";
    color: silver;
}

.nextButtonEmpire{
    width: 20vw;
    height: 3vw;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vw;
    font-family: "El Messiri";
    border-radius: 50%;
    border: solid 0.1vw black;
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 110%);
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.nextButtonEmpire:hover{
    background-color: cadetblue;
    background-image: linear-gradient(176deg, cadetblue 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

/* -----WastlelandMessages----- */

/* Intro */

.introWasteland{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../Images/AngalsWastelandsImage/TextureWastelandMessage.png) no-repeat;
    background-size: cover;
    z-index: 22;
}

.introWasteland p{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2vw;
    font-family: "Pangolin";
    color: silver;
}

/* MessageHalfHealth */

.messageAtHalfHealthWasteland{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../Images/AngalsWastelandsImage/TextureWastelandMessage.png) no-repeat;
    background-size: cover;
    z-index: 22;
}

.messageAtHalfHealthWasteland p{
    width: 40%;
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: center;
    font-size: 2vw;
    font-family: "Pangolin";
    color: silver;
}

/* Outro */

.outroWasteland{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../Images/AngalsWastelandsImage/TextureWastelandMessage.png) no-repeat;
    background-size: cover;
    z-index: 22;
}

.outroWasteland p{
    width: 30%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2vw;
    font-family: "Pangolin";
    color: silver;
}

/* LoseMessage */

.loseMessageWasteland{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../Images/AngalsWastelandsImage/TextureWastelandMessage.png) no-repeat;
    background-size: cover;
    z-index: 22;
}

.loseMessageWasteland p{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2vw;
    font-family: "Pangolin";
    color: silver;
}

.nextButtonWasteland{
    width: 20vw;
    height: 3vw;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vw;
    font-family: "El Messiri";
    border-radius: 50%;
    border: solid 0.1vw black;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    cursor: pointer;
    margin: 0;
    color: rgb(220, 220, 220);
}

.nextButtonWasteland:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

/* ImagesOverall */

.centerImage{
    width: 40%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.rightImage{
    width: 30vw;
    position: absolute;
    top: 5%;
    right: 5%;
    border: none;
}

.leftImage{
    width: 30vw;
    position: absolute;
    top: 5%;
    left: 5%;
    border: none;
}

.centerImageLoseEmpire{
    width: 28vw;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.centerImageLoseWasteland{
    width: 40vw;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}