.topbar{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0;
    font-size: 3.5vw;
    font-family: "El Messiri";
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: solid 0.3vw grey;
    border-bottom: solid 0.3vw grey;
    z-index: 21;
}

/* -----WastelandStructure----- */

.structurePageWasteland{
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../../Images/AngalsWastelandsImage/BackgroundWasteland.jpg) no-repeat;
    background-size: cover;
}

.blockButtonStructure{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.region1Button{
    border-radius: 50%;
    border: solid 0.1vw black;
    display: block;
    width: 30vw;
    height: 4vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 2vw;
    cursor: pointer;
    margin-bottom: 14%;
    color: rgb(220, 220, 220);
}

.region1Button:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.region2Button{
    border-radius: 50%;
    border: solid 0.1vw black;
    display: block;
    width: 30vw;
    height: 4vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 2vw;
    cursor: pointer;
    margin-bottom: 14%;
    color: rgb(220, 220, 220);
}

.region2Button:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.region3Button{
    border-radius: 50%;
    border: solid 0.1vw black;
    display: block;
    width: 30vw;
    height: 4vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 2vw;
    cursor: pointer;
    margin-bottom: 14%;
    color: rgb(220, 220, 220);
}

.region3Button:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.regionMotherButton{
    border-radius: 50%;
    border: solid 0.1vw black;
    width: 35vw;
    height: 5vw;
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 110%);
    font-family: "El Messiri";
    font-size: 2vw;
    cursor: pointer;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(220, 220, 220);
}

.regionMotherButton:hover{
    background-color: darkolivegreen;
    background-image: linear-gradient(176deg, darkolivegreen 3%, black 95%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}

.regionModal{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 10%;
    background: rgb(99, 53, 53);
    animation: styleOpacity 1s forwards;
}

.regionModal h3{
    width: 50%;
    position: absolute;
    top: 3%;
    right: 0%;
    font-size: 3vw;
    font-family: "El Messiri";
    margin: 0;
    text-align: center;
}

.regionModal p{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 10%;
    right: 1%;
    font-size: 1.3vw;
    font-family: "Pangolin";
    font-weight: 700;
    text-align: center;
}

.regionMotherModal{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 10%;
    background: rgb(99, 53, 53);
    animation: shiftTop 1s forwards;
}

.regionMotherModal h3{
    width: 50%;
    position: absolute;
    top: 3%;
    right: 0%;
    font-size: 3vw;
    font-family: "El Messiri";
    margin: 0;
    text-align: center;
}

.regionMotherModal p{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 10%;
    right: 1%;
    font-size: 1.3vw;
    font-family: "Pangolin";
    font-weight: 700;
    text-align: center;
}

.imageRegion{
    width: 45vw;
    height: 27.5vw;
    margin: 2%;
    border-radius: 50%;
}

@keyframes shiftTop{
    from{top: 120%;}
    to{top: 10%;}
}

@keyframes styleOpacity{
    from{opacity: 0;}
    to{opacity: 1;}
}

/* -----EmpireStructure----- */

.structurePageEmpire{
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../../Images/ImpireMarahImage/Bridge.jpg) no-repeat;
    background-size: cover;
}

.buttonWestKingdom{
    width: 15vw;
    height: 40vw;
    position: absolute;
    top: 35%;
    left: 2%;
    background: url(../../Images/ImpireMarahImage/WestKingdomImage.webp) no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0 0 0.3vw burlywood);
    color: burlywood;
}

.buttonWestKingdom:hover{
    animation: shineElvesWest 1.5s infinite;
}

.buttonWestKingdom h1{
    font-size: 3vw;
    font-family: "El Messiri";
    position: absolute;
    top: -32%;
    right: -20%;
    text-align: center;
    -webkit-text-stroke: 1px black;
}

.buttonEastKingdom{
    width: 15vw;
    height: 40vw;
    position: absolute;
    top: 35%;
    right: 2%;
    background: url(../../Images/ImpireMarahImage/EastKingdomImage.webp) no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0 0 0.3vw mediumseagreen);
    color:mediumseagreen;
}

.buttonEastKingdom:hover{
    animation: shineElvesEast 1.5s infinite;
}

.buttonEastKingdom h1{
    font-size: 3vw;
    font-family: "El Messiri";
    position: absolute;
    top: -32%;
    left: -20%;
    text-align: center;
    -webkit-text-stroke: 1px black;
}

@keyframes shineElvesWest {
     0%, 25%, 50%, 75%, 100%{
        filter: drop-shadow( 0 0 0.3vw burlywood);
    }
    25%{
        filter: drop-shadow( 0 0 0.7vw burlywood);
    }
    50%{
        filter: drop-shadow( 0 0 0.3vw burlywood);
    }
    75%{
        filter: drop-shadow( 0 0 0.7vw burlywood);
    }
    100%{
        filter: drop-shadow( 0 0 0.3vw burlywood);
    }
}

@keyframes shineElvesEast {
     0%, 25%, 50%, 75%, 100%{
        filter: drop-shadow( 0 0 0.3vw mediumseagreen);
    }
    25%{
        filter: drop-shadow( 0 0 0.7vw mediumseagreen);
    }
    50%{
        filter: drop-shadow( 0 0 0.3vw mediumseagreen);
    }
    75%{
        filter: drop-shadow( 0 0 0.7vw mediumseagreen);
    }
    100%{
        filter: drop-shadow( 0 0 0.3vw mediumseagreen);
    }
}

.modalWestKingdom{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 10%;
    background: rgb(70, 80, 100);
    animation: shiftRight 1s forwards;
}

.modalEastKingdom{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 10%;
    background: rgb(70, 80, 100);
    animation: shiftLeft 1s forwards;
}

.imageKingdom{
    width: 45vw;
    height: 27.5vw;
    margin: 2%;
    border-radius: 50%;
}

.structurePageEmpire h3{
    width: 53%;
    position: absolute;
    top: 3%;
    right: 0%;
    font-size: 3vw;
    font-family: "El Messiri";
    margin: 0;
    text-align: center;
}

.structurePageEmpire p{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 10%;
    right: 1%;
    font-size: 1.3vw;
    font-family: "Pangolin";
    font-weight: 700;
    text-align: center;
}

@keyframes shiftLeft{
    from{left: 120%;}
    to{left: 0%;}
}

@keyframes shiftRight{
    from{right: 120%;}
    to{right: 0%;}
}

.closeButton{
    width: 20vw;
    height: 3vw;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vw;
    font-family: "El Messiri";
    cursor: pointer;
    border-radius: 50%;
    border: solid 0.1vw black;
    background-color: rgba(226, 226, 226, 1);
    background-image: linear-gradient(176deg, red 3%, rgb(17, 17, 17) 110%);
}

.closeButton:hover{
    background-color: rgba(226, 226, 226, 1);
    background-image: linear-gradient(176deg, red 3%, rgb(17, 17, 17) 90%);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
}